<fragment>
    <footer class="main-footer">
        <!--        <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.0
                </div>-->
        <strong>Paper</strong> Less.
    </footer>
</fragment>