<div class="page page-on-center hide-bars-on-scroll" data-page="form">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="" class="link icon-only"> <i class="icon icon-back pending_request_back"></i> </a>
            </div>
            <div class="center">Form</div>
        </div>
    </div>
    <div class="list-block">
        <form action="" id="user-form">
            <div class="form-group form-view form-GUI"></div>
        </form> <a href="javascript:void(0);" class="button form-submit-btn " id="submit">Submit</a> </div>
</div>