<div class="page page-on-center" data-page="pendingrequest">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/home.html" class="link icon-only"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">Pending Request</div>
        </div>
    </div>
    <div class="list-block ">
        <ul class="main_ul" style="margin-top: 43px;">
            <li class="pending_name_li" style="display: none;">
                <a href="pages/pendingrequestdetails.html" class="item-link item-content pendingrequetdetails-btn">
                    <div class="item-media"><i class="icon f7-icons">person</i></div>
                    <div class="item-inner">
                        <div class="item-title name"></div>
                        <div class="item-after">Details</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div id="wait" style="margin-top: 50%;margin-left: 8%; display:none"><img src='assets/imgs/loader.gif' /></div>
    <div style="margin-top: 60%;">
        <p id="msg" class="button" style=" display:none">No record Found</p>
    </div>
</div>