<div class="page page-on-center" data-page="pendingrequestdetails">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/pendingrequest.html" class="link icon-only pending_request_back"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">Pending Request Details</div>
        </div>
    </div>
    <div class="list-block">
        <ul>
            <li style="margin-top: 43px;">
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">person</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Admin</div>
                        <div class="item-after admin"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">compose</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Event Name</div>
                        <div class="item-after event_name"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">data</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Event Type</div>
                        <div class="item-after event_type"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Start Date</div>
                        <div class="item-after start_date"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                    <div class="item-inner">
                        <div class="item-title label">End Date</div>
                        <div class="item-after end_date"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">time</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Start Time</div>
                        <div class="item-after start_time"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">time</i></div>
                    <div class="item-inner">
                        <div class="item-title label">End Time</div>
                        <div class="item-after end_time"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">navigation</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Vanue</div>
                        <div class="item-after venue"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">favorites</i></div>
                    <div class="item-inner">
                        <div class="item-title label">Description</div>
                        <div class="item-after description"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="content-block">
            <p>
                <a href="#" class="create-popup button">View Forms </a>
            </p>
        </div>
    </div>
</div>