/* GENERAL */
div[class*="col-"] {
    text-align: center;
}

body {
    padding: 0px !important;
}

.popup {
    height: 100%;
}

.content-block {
    margin: 20px 0;
}

.row {
    margin-bottom: 5px;
}

.bottom-fixed {
    bottom: 0;
    margin-bottom: 0px;
}

.navbar .center {
    color: white;
}

.info-circle {
    width: 100px;
    height: 100px;
    float: none;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 60px;
    margin-top: 20%;
}

.info-circle i {
    color: #fff;
    line-height: 100px;
}

.heading h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 45px;
}

.heading p {
    text-align: center;
    font-size: 16px;
    text-shadow: none;
    color: #fff;
    margin-top: 0px;
}

.overlay {
    background: rgba(0, 0, 0, .9);
    display: block;
}

.theme-white {
    color: #fff;
}

.content-block-title {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-navbar .page-content, .navbar-fixed .page-content {
    padding-top: 0px !important;
}

.login {
    background: #595854 !important;
}


/* SLIDER */

.theme-deeppurple .slider-section {
    border-top: 15px solid #003399;
    border-bottom: 15px solid #003399;
}


/* SWIPER */

.swiper-container {
    height: 100%;
}

.swiper-slide {
    background: #fff;
}

.swiper-slide span {
    text-align: center;
    display: block;
    margin: 5.3%;
    font-size: 21px;
    width: 90%;
}


/* SMART SELECT */

.smart-select-page .navbar {
    color: #fff;
}

.smart-select-page .navbar .back i {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}


/* PICKER MODEL */

.picker-modal .toolbar .close-picker {
    color: #444;
}


/* LIST BLOCKS */

.list-block.with-top {
    margin-top: 0;
}

.list-block .item-inner:after {
    background: none;
}

.name {
    float: left;
    width: 70% !important;
}

.list-block li {
    border-bottom: 1px solid #ddd;
}

.list-block li:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}

.theme-deeppurple .list-block li i {
    font-size: 26px;
    color: #039;
}

.theme-deeppurple .list-block li a .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23444'%2F%3E%3C%2Fsvg%3E");
    color: #444;
}


/*
 * LOADER
 */

.loader-logo {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /*display: none;*/
}

.loader-logo:after {
    width: 76px;
    height: 76px;
    z-index: 9999;
    content: '';
    display: block;
    background: url('../assets/images/loader.png') no-repeat center center;
    background-size: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -38px;
    margin-top: -38px;
    border-radius: 38px;
}

.loader-logo:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 76px;
    height: 76px;
    border-radius: 38px;
    z-index: 9999;
    content: '';
    display: block;
    -webkit-animation: loader 1.5s linear infinite;
    /* Safari 4+ */
    -moz-animation: loader 1.5s linear infinite;
    /* Fx 5+ */
    -o-animation: loader 1.5s linear infinite;
    /* Opera 12+ */
    animation: loader 1.5s linear infinite;
    /* IE 10+, Fx 29+ */
}

.theme-deeppurple .loader-logo:before {
    border: 2px solid #003399;
}

@-webkit-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-o-keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}


/* OVERRIDE CSS */

@media all and (max-width: 690px) {
    .bottom-fixed {
        position: fixed;
    }
}


/*ipad*/

@media only screen and (width: 768px) and (orientation: portrait) {
    .content-block {
        margin: 20px 0;
    }
}


/*android tab*/

@media only screen and (width: 600px) and (orientation: portrait) and (height: 1000px) {
    .content-block {
        margin: 20px 0;
    }
}


/*iphone6 / +*/

@media only screen and (min-width: 337px) and (max-width: 415px) and (orientation: portrait) and (min-height: 647px) and (max-height: 740px) {
    .content-block {
        margin: 35px 0;
    }
    .bottom-fixed {
        margin-bottom: 0px;
    }
}


/*iphone5 */

@media only screen and (width: 320px) and (orientation: portrait) and (min-height: 567px) and (max-height: 570px) {
    .content-block {
        margin: 20px 0;
    }
}

@media only screen and (max-height: 548px) and (max-width: 320px) {
    .logo-img {
        width: 75% !important;
    }
}

@media only screen and (max-height: 508px) and (max-width: 320px) {
    .logo-img {
        width: 75% !important;
        margin: 14px auto !important;
    }
}


/*iphone4 */

@media only screen and (max-height: 480px) and (max-width: 320px) {
    .swiper-wrapper {
        height: 210px;
    }
    .content-block {
        margin: 10px 0;
    }
    .logo-img {
        margin: 8px auto !important;
        width: 50% !important;
    }
}

/*.navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 0px;
}*/

.logo-img {
    width: auto;
    margin: 31px auto;
    max-width: 100%;
}

.logo-content {
    margin: 44px 0 0 22px;
    float: left;
    font-size: 36px;
    color: #8e8e93;
}

.swiper-custom {
    position: relative;
    height: 325px;
}

.swiper-container {
    height: 325px;
    width: 100%;
}

.swiper-slide {
    background: #fff;
}

.swiper-slide span {
    display: block;
    font-size: 21px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #aaa;
    border-radius: 0 0 0 0;
    opacity: 1;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #ddd;
    border-color: #ddd;
}

.row {
    width: 100%;
}

.button-gray {
    background-color: #9e9e9e;
    color: #FFF;
    border: #ddd;
}

.button {
    width: 90%;
    margin: 0 auto;
}

.list-block {
    margin: 43px 0 !important;
    margin-bottom: 15px !important;
}

.popup .list-block ul:before {
    background: none !important;
}

.list-block.form-detail-view {
    margin: 55px 0 !important;
}

.login-error {
    color: red !important; 
    padding: 10px 0 !important; 
    margin-bottom: 0px !important; 
    font-size: 12px !important;
}

.list-block .item-title.label {
    font-size: 14px;
}

.request {
    font-size: 42px;
    color: #8e8e93;
    margin-top: 4px;
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 4px;
}

.accept-request-btn {
    width: 90%;
    margin-left: 5%;
}

.speed-dial .floating-button {
    color: black;
    background-color: #383a3c;
}

.dashboard-slider {
    border-top: 12px solid #2196f3;
    border-bottom: 12px solid #2196f3;
}

.input-error {
    color: #FF0000;
}

.form-view {
    margin-top: 20px;
}

.form-auto-complete {
    margin-right: 18px;
    margin-left: 10px;
}

.form-btn {
    width: 94%;
    margin-top: 11px;
    margin-left: 11px;
}

.form-checkbox {
    margin-top: 11px;
    margin-left: 11px;
}

.form-submit-btn {
    /* width: 94%;
   /* margin-left: 11px; */
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

#msg {
    margin-top: 60%;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 27px;
    box-sizing: border-box;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 29px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}

.notif {
    position: relative;
    display: block;
    height: auto;
    width: 50px;
    background-size: contain;
    text-decoration: none;
}

.num {
    right: 11px;
    top: 6px;
    margin-left: 5px;
    color: #fff;
    position: absolute;
    background: #2196f3;
    padding: 3px;
    border-radius: 6px;
    margin-top: -11px;
}

.request-btn-label {
    float: none;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    font-weight: bold;
    color: rgb(142, 142, 147);
    width: 66px;
}


/*For Iphone*/

@media only screen and (max-width: 350px) {
    .request-btn-label {
        width: 100%;
        font-size: 11px;
    }
}

@media only screen and (min-width: 750px) {
    .request {
        font-size: 90px;
    }
    .num {
        font-size: x-large;
        width: inherit;
    }
}

.home-footer {
    position: fixed;
    bottom: 0;
    width: 96%;
    padding: 0 2%;
}

@media only screen and (orientation:landscape) and (max-width: 740px) {
    .logo-img {
        width: 100px;
        margin: 6px auto;
    }
    .dashboard-slider {
        border-top: 3px solid #8e8e93;
        border-bottom: 3px solid #8e8e93;
    }
    .swiper-slide span img {
        float: left;
        /* width: 400px !important; */
        max-height: 110px !important;
    }
    .request {
        font-size: 25px;
    }
    .num {
        top: 12.5px;
    }
    .row {
        margin-bottom: 0px;
    }
}

@media only screen and (orientation:landscape) and (min-width: 700px) and (max-width: 840px) {
    .logo-img {
        width: 100px;
        margin: 6px auto;
    }
    .dashboard-slider {
        border-top: 3px solid #8e8e93;
        border-bottom: 3px solid #8e8e93;
    }
    .swiper-slide span img {
        float: left;
        /* width: 400px !important; */
        max-height: 150px !important;
    }
    .request {
        font-size: 45px;
    }
}

@media only screen and (orientation:landscape) and (min-width: 841px) and (max-width:1340px) and (min-height:500px) {
    .swiper-slide span img {
        float: left;
        /* width: 400px !important; */
        max-height: 250px !important;
    }
    .request {
        font-size: 55px;
    }
    .logo-img {
        width: 140px;
        margin: 3px auto;
    }
}

@media only screen and (orientation:landscape) and (min-width: 741px) and (max-width:1340px) and (min-height:700px) {
    .swiper-slide span img {
        float: left;
        /* width: 400px !important; */
        max-height: 350px !important;
    }
    .request {
        font-size: 85px;
    }
}

@media only screen and (orientation:landscape) and (min-width: 1341px) {
    .swiper-slide span img {
        float: left;
        /* width: 400px !important; */
        max-height: 400px !important;
    }
    .request {
        font-size: 85px;
    }
    .request-btn-label {
        width: 108px;
        font-size: x-large;
    }
}

/*
#address {
    height: 40px;
    resize: vertical;
}
*/

.home-footer.row .col-20 {
    width: 20% !important;
}

.page {
    overflow: auto;
}

.form-GUI {
    overflow-x: hidden;
}

.form-GUI div {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.form-GUI label {
    float: left;
    /*width: 100% !important;*/
    padding: 0 !important;
}

.form-GUI label[class*="-group-label"] {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-GUI p, 
.form-GUI span, 
.form-GUI h1, 
.form-GUI h2, 
.form-GUI h3, 
.form-GUI h4, 
.form-GUI h5 {
    margin: 0 !important;
}

.form-GUI select,
.form-GUI textarea,
.form-GUI input[type="text"], 
.form-GUI input[type="number"], 
.form-GUI input[type="autocomplete"],
.form-GUI input[type="date"] {
    float: left;
    border: 1px solid #8e8e93;
    width: 100%;
    padding: 8px 0 8px 5px;
    border-radius: 5px;    
    height: 35px !important;
}

.form-GUI input[type="autocomplete"] {
    width: 97% !important;
    height: auto !important;
}

.form-GUI textarea {
    height: auto !important;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: white;
    background-color: white;
}

.swiper-slide span {
    float: left;
}

.swiper-slide span img {
    float: left;
    width: 100%
}

.slider-div {
    float: left;
    width: 100%;
}

.item-after.description {
    float: left;
    display: block;
    max-width: 45%;
    width: auto;
    max-height: initial;
    white-space: normal;
    padding: 5px 0 5px 0;
}

.accepted-requests {
    border: 1px solid green;
    background: green;
    border-radius: 4px;
    padding: 1px;
    color: #FFF !important;
    font-weight: bold;
    font-size: 11px;
}

.rejected-requests {
    border: 1px solid #a50000;
    background: #a50000;
    border-radius: 4px;
    padding: 1px;
    color: #FFF !important;
    font-weight: bold;
    font-size: 11px;
}

.pending-requests {
    border: 1px solid #795548;
    background: #795548;
    border-radius: 4px;
    padding: 1px;
    color: #FFF !important;
    font-weight: bold;
    font-size: 11px;
}