<div class="page navbar-fixed" data-page="allrequests">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/home.html" class="link icon-only"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">All Requests</div>
        </div>
    </div>
    <div class="page-content">
	<div class="list-block ">
	    <ul class="main_ul">
		<li class="all_name_li accepteds-requests" style="display: none;">
		    <a href="pages/allrequestsdetails.html" class="item-link item-content acceptrequetdetails-btn">
			<div class="item-media"><i class="icon f7-icons">favorites</i></div>
			<div class="item-inner">
			    <div class="item-title name"></div>
			    <div class="item-after">Accepted</div>
			</div>
		    </a>
		</li>
	    </ul>
	</div>
	<div style="margin-top: 60%;">
	    <p id="msg" class="button" style="display:none; margin: 0 auto;">No record Found</p>
	</div>
    </div>
</div>