<div class="page page-on-center hide-bars-on-scroll navbar-fixed" data-page="form">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="javascript:void(0);" class="link icon-only pending_request_back"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">Form</div>
        </div>
    </div>
    <div class="page-content">
	<div class="list-block form-detail-view">
	    <div class="card">
		<div class="card-header"></div>
		<div class="card-content">
		    <div class="card-content-inner">
			<form action="" id="user-form">
			    <div class="form-group form-view form-GUI"></div>
			</form> 
		    </div>
		</div>
		<div class="card-footer">
		    <a href="javascript:void(0);" style="display: none;" class="button form-submit-btn button-fill" id="submit">Submit</a>
		</div>
	    </div>
	</div>
    </div>
</div>
