<div class="page" data-page="home">
    <div class="page-content">
	<div class="col-100">
	    <div class="row" style="margin-bottom: 0%;">
		<div class="col-100"><img src="assets/imgs/logo.png" class="logo-img"></div>
		<!--<div class="col-70">
			<h1 class="logo-content">PaperLess</h1></div>--></div>
	</div>
	<div class="col-100 slider-div">
	    <div class="row dashboard-slider">
		<div class="col-100">
		    <div class="swiper-slide"><span><img src="assets/imgs/paperless-billing.jpg" style="width: 100%;height: 100%;"></span></div>
		</div>
	    </div>
	</div>
	<div class="col-100">
	    <div class="row home-footer">
		<div class="col-20 notif"> 
		    </span> <a href="pages/userprofile.html" id="userprofile" class="request icon f7-icons">person</a>
		    <label
			class="request-btn-label">User Profile</label>
		</div>

		<div class="col-20 notif"> <span class="num all_number">
		    </span> <a href="pages/allrequests.html" id="allrequest" class="request icon f7-icons">sort</a>
		    <label
			class="request-btn-label">All Requests</label>
		</div>
		<div class="col-20 notif"> <span class="num accept_number"></span> <a href="pages/acceptrequest.html" id="acceptrequest" class="request icon f7-icons">check_round</a>                
		    <label class="request-btn-label">Accepted Requests</label> </div>
		<div class="col-20 notif"><span class="num reject_number"></span> <a href="pages/rejectrequest.html" id="rejectrequest" class="request icon f7-icons">
			close_round
		    </a> <label class="request-btn-label">Reject Requests</label> </div>
		<div class="col-20 notif"><span class="num pending_number"></span> <a href="pages/pendingrequest.html" id="panddingrequest" class="request icon f7-icons">
			time
		    </a> <label class="request-btn-label">Pending Requests</label> </div>
	    </div>
	</div>
    </div>
</div>