<div data-page="login" class="login page no-navbar">
    <div class="page-content">
        <div class="row content-block">
            <div class="col-100">
                <div class="info-circle"> <i class="fa fa-user fa-4x"> </i> </div>
            </div>
        </div>
        <div class="row content-block heading">
            <div class="col-100">
                <h1> Login </h1>
                <form>
                    <div class="list-block">
                        <ul>
                            <p class="email_data_error login-error" style="display:none;"> Check your Email/Password </p>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width: 15% !important;"> <i class="fa fa-envelope-o" aria-hidden="true"> </i> </div>
                                    <div class="item-input">
					<input type="text" name="email" id="email" placeholder="Email"> </div>
                                </div>
                            </li>
                            <p class="email_error login-error" style="display:none;"> Please enter Email </p>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width: 15% !important;"> <i class="fa fa-lock" aria-hidden="true"> </i> </div>
                                    <div class="item-input"> <input class="password" id="password" type="password" name="password" placeholder="Password">                                        </div>
                                </div>
                            </li>
                            <p class="password_error login-error" style="display:none;"> Please enter Password </p>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li> <a href="" id="login_btn" class="item-link list-button">Sign In</a> </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>