<div class="page navbar-fixed" data-page="rejectrequest">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/home.html" class="link icon-only"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">Reject Request</div>
        </div>
    </div>
    <div class="page-content">
	<div class="list-block ">
	    <ul class="main_ul" style="margin-top: 43px;">
		<li class="reject_name_li" style="display: none;">
		    <a href="pages/rejectrequestdetails.html" class="item-link item-content rejectrequetdetails-btn">
			<div class="item-media"><i class="icon f7-icons">favorites</i></div>
			<div class="item-inner">
			    <div class="item-title name"></div>
			    <div class="item-after">Details</div>
			</div>
		    </a>
		</li>
	    </ul>
	</div>
	<div style="margin-top: 60%;">
	    <p id="msg" class="button" style="display:none; margin: 0 auto;">No record Found</p>
	</div>
    </div>
</div>