<div class="page page-on-center hide-bars-on-scroll navbar-fixed" data-page="userprofile">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="pages/home.html" class="link icon-only"> <i class="icon icon-back"></i> </a>
            </div>
            <div class="center">User Profile</div>
        </div>
    </div>
    <div class="list-block">
        <form action="" id="user-form">
	    <ul>
		<li>
		    <div class="item-content">
			<div class="item-media"><i class="icon f7-icons">person</i></div>
			<div class="item-inner">
			    <div class="item-title label">Name</div>
			    <div class="item-input">
				<input type="text" id="name" name="txtName" placeholder="Enter name" />
			    </div>
			</div>
		    </div>
		</li>
		<li>
		    <div class="item-content">
			<div class="item-media"><i class="icon f7-icons">email</i></div>
			<div class="item-inner">
			    <div class="item-title label">E-mail</div>
			    <div class="item-input">
				<input type="email" id="email" name="txtEmail" placeholder="Enter email" />
			    </div>
			</div>
		    </div>
		</li>
		<li>
		    <div class="item-content">
			<div class="item-media"><i class="icon f7-icons">phone</i></div>
			<div class="item-inner">
			    <div class="item-title label">Contact</div>
			    <div class="item-input">
				<input type="text" id="contact" name="txtContact" placeholder="Enter contact number" />
			    </div>
			</div>
		    </div>
		</li>
		<li>
		    <div class="item-content">
			<div class="item-media"><i class="icon f7-icons">phone</i></div>
			<div class="item-inner">
			    <div class="item-title label">Emergency Contact</div>
			    <div class="item-input">
				<input type="text" id="emergencyContact" name="txtEmergencyContact" placeholder="Enter emergency contact" />
			    </div>
			</div>
		    </div>
		</li>
		<li>
		    <div class="item-content">
			<div class="item-media"><i class="icon f7-icons">navigation</i></div>
			<div class="item-inner">
			    <div class="item-title label">Address</div>
			    <div class="item-input">
				<textarea id="address" name="address"></textarea>
			    </div>
			</div>
		    </div>
		</li>
	    </ul>
        </form>
	<br/> 
	<a href="javascript:void(0);" class="button form-submit-btn button-fill" id="submit">Update</a> 
	<br/>
	<a href="javascript:void(0);" class="button button-fill bg-red" id="logout">Logout</a> 
    </div>
</div>