body {
    background: #d2d6de;
}
p.error {
    color: red;
    float: left;
    width: 100%;
}
.field-error {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
}
.login-div {
    float: left;
    width: 100%;
}
.txt-clr {
    color: #222d32;
}
.btn-align {
    float: right;
}
.optional {
    font-size: 10px;
    font-weight: initial;
    color: #dd0c1a;
}
.label {
    font-weight: normal;
}
.change-profile-pic {
    border-radius: 50%;
    margin: 0 auto;
    width: 28px;
    padding: 3px;
    border: 3px solid #3c8dbc;
    background: #3c8dbc;
    color: #fff;
    cursor: pointer;
}
.file {
    position: absolute;
    top: -200%;
}
.event_des {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0px;
}
th.dt-center, td.dt-center {
    text-align: center; 
}
.btm-mrgn{
    margin-bottom: 15px;
    color: #fff !important;
    background: #374850;
}
.btm-mrgn-zero {   
    color: #fff !important;
    background: #374850;
}
.img-main .img-size {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    /*    margin-left: 20px;*/
    /*    float: left;*/
    float: right;
    margin-top: -25px;
}
.img-main .file-type{
    /*    width: 327px;*/
    width: 300px;
    float: left;
}
@media(max-width:1150px){
    .img-main .file-type{
        width: 200px;
    }    
}
.img-main .img-label {
    float: left;
    width: 100%;
}

.form-rendered .build-wrap {
    display: none;
}

.render-wrap {
    display: none;
}

.form-rendered .render-wrap {
    display: block;
}

.view-edit {
    display: none;
    float: right;
}

.form-rendered .view-edit {
    display: block;
}
.btn-align {
    height: 35px !important;
    margin-right: 12px !important;
}

.formbg {
    background-color: #f2f2f2;
    border: 0.5px solid #3c8dbc;
    border-radius: 6px;
}

.btn-pading {
    padding: 5px 1px 10px 5px;
}
.modal-align {
    float: left;
    width: 100%;
}
.center {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto; 
    margin-top: auto;
}
.not-found {
    padding: 100 1px 0 250px;
    font-size: 16px;
}

.form-name-noted {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.check-form {
    float: right;
    margin: 0;
}

.form-border {
    float: left;
    border: 1px solid #f4f4f4;
    padding: 5px 5px 0px 5px;
    border-radius: 4px;
    background: #f4f4f4;
    margin: 15px 19px 0px 0px;
}
.has-error{
    border: 1px solid #940000;    
}
.access-wrap{
    display: none !important;
}