<fragment>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <!-- Logo -->
                    <!--                    <div class="col-md-3">
                                            <img src="images/logo.png" alt="logo" style="width: 90%; margin-top: 3px"/>
                                        </div>-->
                    <div class="logo">
                        <h1 style="color: #fff">Welcome to Paperless</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fragment>