<fragment>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="" class="img-circle usrimg" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p class="username"></p>
                    <a href="#"> <i class="fa fa-circle text-success"> </i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <!--
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"> <i class="fa fa-search"> </i> </button>
                    </span>
                </div>
            </form>
            -->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN MENU</li>
                <li class="treeview dashboard" id="dashboard">
                    <a href="dashboard.html" ><i class="fa fa-dashboard"> </i> <span>Dashboard</span> </a>
                </li>
                <li class="treeview" id="events_menu">
                    <a href="#">
                        <i class="fa fa-pie-chart"> </i>
                        <span>Events</span>
                        <i class="fa fa-angle-left pull-right"> </i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="events"> 
                            <a href="events.html"> <i class="fa fa-circle-o"> </i> Events List</a> 
                        </li>
                        <li id="new_event"> 
                            <a href="new_event.html"> <i class="fa fa-circle-o"> </i> New event</a> 
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="form_menu">
                    <a href="#">
                        <i class="fa fa-wpforms"> </i>
                        <span>Forms</span>
                        <i class="fa fa-angle-left pull-right"> </i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="forms">
                            <a href="#"> <i class="fa fa-circle-o"> </i> Forms List</a> 
                        </li>
                        <li id="new_form">
                            <a href="new_form.html"> <i class="fa fa-circle-o"> </i> New Form</a> 
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="manage_users">
                    <a href="#" >
                        <i class="fa fa-user-circle"> </i> 
                        <span>User</span> 
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</fragment>
